* {
  margin: 0px;
  padding: 0px;
}
body {
    font-size: 120%;
    background-image: url(s2.jpg);
       background-size: 1535px 760px;
}

.header {
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background: #5F9EA0;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
form, .content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
  width: 100%;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
#myForm, .mcq {
  width: 90%;
  margin: 20px auto;
  padding: 40px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
      margin-top: 0px;

    padding-top: 30px;
    padding-left: 100px;

}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}

a:link, a:visited {
        background-color: #f44336;
    color: white;
    padding: 7px 17.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 85%;
    margin: 5px;
    margin-left: 17px;
    border: none;
    border-radius: 5px;
}


a:hover, a:active {
    background-color: red;
}



#quiz-time-left {
    width: 100px;
    font-size: 25px;
    text-align: center;
    margin-left: 41%;
}

